.removeColorIcon {
    transition: opacity .125s ease-in-out;
}

.color {
  cursor: pointer;
  padding: 8px;

  &:hover .colorBuble {
    opacity: 0.6;
  } 

  &:hover .removeColorIcon {
    opacity: 1;
  } 

}

.colorBuble {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 100%;

  .removeColorIcon {
    opacity: 0;
  }
}


